.footer {
  background-color: #0f4c81;
  color: white;
  padding: 0 5px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  padding-bottom: 5px;
  width: 100%; /* Ensure full width */
  max-width: 100%; /* Prevent overflow */
  flex-shrink: 0; /* Prevent footer from shrinking */
  box-sizing: border-box; /* Include padding in width calculation */
}

.footer .logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo img {
  max-width: 100px;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      padding: 10px 0;
  }

  .social-icons {
      margin-top: 10px;
  }
}